.kalkulacka {
    width: 500px;
    height: 600px;
    margin: 50px auto;
    border: 2px black solid;
    border-spacing: 25px ;

}

#display {
    width: 450px;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}

.btn {
    width: 65px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 2px black solid;


}

.operacie {
    background-color: #4e4e4e;
    color: white;
    font-size: 23px;
}
.delete{
    background-color: #6b4b4b;
    color: white;
    font-size: 23px;
}

.btn:hover {
    background-color: #e0e0e0;
}